<!DOCTYPE html>

<html lang="en">
    {{> head}}

    <body>
        <div class="container">
            {{> header header}}

            {{> nav}}

            <section class="blogs">
                <ul>
                    {{#each blogs}}
                        <li>
                            <a href="/admin/blog/delete/{{_id}}">Delete</a>

                            <a href="/admin/blog/{{_id}}">
                                <div class="image-container">
                                    {{{picture header.thumbnail header.largeThumbnail}}}
                                </div>

                                <div>
                                    <h3>{{header.title}}</h3>
                                </div>

                                <div>
                                    <p>{{header.summary}}</p>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </section>

            {{> footer}}
        </div>

        {{> scripts}}
    </body>
</html>