<!DOCTYPE html>

<html lang="en">
    {{> head}}

    <body>
        <div class="container admin">
            {{> header header}}

            {{> nav}}

            <section class="projects">
                <a href="/admin/project/new">New...</a>
                <ul>
                    {{#each projects}}
                        <li>
                            <a href="/admin/project/delete/{{_id}}">Delete</a>

                            <a href="/admin/project/{{_id}}">
                                <div class="image-container">
                                    {{{picture thumbnail largeThumbnail}}}
                                </div>

                                <div>
                                    <h3>{{title}}</h3>
                                </div>

                                <div>
                                    <p>{{summary}}</p>
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </section>

            {{> footer}}
        </div>

        {{> scripts}}
    </body>
</html>