<!DOCTYPE html>

<html lang="en">
    {{> head}}

    <body>
        <div class="container admin">
            {{> header header}}

            {{> nav}}

            <form method="POST" action="/admin/project/{{#if _id}}{{_id}}{{else}}new{{/if}}">
                <input type="hidden" name="_id" value="{{_id}}" />

                <div class="form-field">
                    <label for="thumbnail">Thumbnail (small)</label>

                    <input type="text" name="thumbnail" value="{{thumbnail}}" />
                </div>

                <div class="form-field">
                    <label for="largeThumbnail">Thumbnail (large)</label>

                    <input type="text" name="largeThumbnail" value="{{largeThumbnail}}" />
                </div>

                <div class="form-field">
                    <label for="image">Image (small)</label>

                    <input type="text" name="image" value="{{image}}" />
                </div>

                <div class="form-field">
                    <label for="largeImage">Image (large)</label>

                    <input type="text" name="largeImage" value="{{largeImage}}" />
                </div>

                <div class="form-field">
                    <label for="title">Title</label>

                    <input type="text" name="title" value="{{title}}" />
                </div>

                <div class="form-field">
                    <label for="summary">Summary</label>

                    <input type="text" name="summary" value="{{summary}}" />
                </div>

                <div class="form-field">
                    <label for="url">Url</label>

                    <input type="text" name="url" value="{{url}}" />
                </div>

                <div class="form-field">
                    <label for="body">Body</label>

                    <textarea name="body">{{body}}</textarea>
                </div>

                <div class="form-field">
                    <label for="created">Created</label>

                    <input type="text" name="created" value="{{created}}" />
                </div>

                <div class="form-field">
                    <label for="published">Published</label>

                    <input type="text" name="published" value="{{published}}" />
                </div>

                <input type="submit" />
            </form>

            {{> footer}}
        </div>

        {{> scripts}}
    </body>
</html>