<!DOCTYPE html>

<html lang="en">
    {{> head this}}

    <body>
        <div class="container projects">
            {{> nav}}

            {{> header header}}

            {{#if projects}}
                <section class="project-list">
                    <ul>
                        {{#each projects}}
                            <li {{#if_even @index}}class="alt"{{/if_even}}>
                                <a href="/project/{{url}}">
                                    {{{picture thumbnail largeThumbnail}}}

                                    <aside>
                                        <div>
                                            <h3>{{title}}</h3>

                                            <p>{{summary}}</p>
                                        </div>
                                    </aside>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </section>
            {{else}}
                {{> nothing}}
            {{/if}}

            {{> footer}}
        </div>

        {{> scripts}}
    </body>
</html>